{% extends 'base.html' %}
{% block content %}
<div class="container py-4">
    <h2>Детали заказа №{{ order.id }}</h2>
    <p><strong>Дата:</strong> {{ order.created_at|date:"d.m.Y H:i" }}</p>
    <p><strong>Статус:</strong> {% if order.is_paid %}✅ Оплачен{% else %}⏳ В ожидании оплаты{% endif %}</p>

    <h4 class="mt-4">Товары:</h4>
    <ul class="list-group">
        {% for item in order.items.all %}
            <li class="list-group-item d-flex justify-content-between">
                {{ item.product.name }} 
                <span>x{{ item.quantity }}</span>
            </li>
        {% endfor %}
    </ul>
    {% if not order.is_paid %}
    <a href="{% url 'payment' order.id %}" class="btn btn-success mt-3">💳 Оплатить заказ</a>
{% endif %}
    {% if user.is_staff or user.is_superuser %}
     <a href="{% url 'admin_order_list' %}" class="btn btn-secondary mt-4">
    {% else %}
    <a href="{% url 'order_list' %}" class="btn btn-secondary mt-4">
    {% endif %}
         ← Назад к заказам</a>
</div>
{% endblock %}

