<footer class="ftco-footer ftco-section bg-dark text-light mt-5">
  <div class="container text-center">
    <div class="row mb-5">
      <div class="col-md-12">
        <h2 class="footer-heading">TastyCo</h2>
        <p>Dein Pizza-Genuss – frisch, schnell und lecker.</p>
        <ul class="ftco-footer-social p-0 d-flex justify-content-center">
          <li class="ftco-animate mx-2"><a href="#"><span class="icon-twitter"></span></a></li>
          <li class="ftco-animate mx-2"><a href="#"><span class="icon-facebook"></span></a></li>
          <li class="ftco-animate mx-2"><a href="#"><span class="icon-instagram"></span></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>&copy; {% now 'Y' %} TastyCo. Alle Rechte vorbehalten.</p>
      </div>
    </div>
  </div>
</footer>