<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">TastyCo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">

        <!-- Allgemeine Links -->
        <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Главный</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'index' %}#menu">Каталог</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Наша Команда</a></li>

        <!-- Wenn Benutzer eingeloggt ist -->
        {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link disabled" href="#">
              👤 {{ request.user.firstname }}{% if request.user.role == "admin" %} (Admin){% endif %}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Выход</a>
          </li>
          <!-- 🛒 Goldener Warenkorb-Link -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cart' %}" style="color: gold; font-weight: bold;">
              🛒 Корзинка
            </a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Вход</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
          </li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>